<app-header></app-header>
<div class="grid" [style]="{ height: '88vh' }">
  <div class="col-12">
    <p-card header="Chamados" styleClass="shadow-3 m-5 text-indigo">
        <!-- Tabela dos chamados -->

              <div *ngIf="!showForm" class="grid">
                <div class="col-12">
                  <div class="flex justify-content-end"></div>
                  <p-table
                    #tabelaChamados
                    [columns]="colunasSelecionadas"
                    [value]="chamadoData"
                    [(selection)]="chamadoSelecionado"
                    (onRowSelect)="onRowSelect($event)"
                    selectionMode="multiple"
                    [rows]="5"
                    [paginator]="true"
                    [responsive]="true"
                    [resizableColumns]="true"
                    columnResizeMode="expand"
                    styleClass="p-datatable-gridlines"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    [rowHover]="true"
                    [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
                    [globalFilterFields]="[
                      'codigo',
                      'titulo',
                      'status',
                      'prioridade',
                      'responsavel',
                      'dataCriacao',
                      'dataConclusao'
                    ]"
                    [exportHeader]="'customExportHeader'"
                    dataKey="codigo"
                    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
                    [filterDelay]="0"
                  >
                    <ng-template pTemplate="caption">
                      <div class="flex">
                        <div class="mr-5">
                          <button
                            type="button"
                            class="mr-2"
                            pButton
                            pRipple
                            icon="pi pi-plus"
                            pTooltip="Adicionar Chamado"
                            (click)="onAddButtonClick()"
                          >
                            Adicionar
                          </button>
                          <!-- <button
                            pButton
                            pRipple
                            icon="pi pi-ban"
                            class="p-button-danger"
                            (click)="desativarProdutosSelecionados()"
                            [disabled]="
                              !produtoSelecionado || !produtoSelecionado.length
                            "
                          ></button> -->
                        </div>

                        <p-multiSelect
                          pTooltip="Desmarque as colunas que serão ocultadas"
                          [options]="cols"
                          [(ngModel)]="colunasSelecionadas"
                          optionLabel="header"
                          selectedItemsLabel="Ocultar Colunas"
                          [style]="{ 'min-width': '200px' }"
                          placeholder="Selecione as Colunas"
                        >
                        </p-multiSelect>

                        <span class="p-input-icon-left ml-auto mr-2">
                          <i class="pi pi-search"></i>
                          <input
                            pInputText
                            type="text"
                            [(ngModel)]="valorPesquisa"
                            (input)="applyFilterGlobal($event, 'contains')"
                            placeholder="Pesquisar"
                          />
                        </span>
                        <button
                          pButton
                          label="Limpar"
                          class="p-button-outlined"
                          icon="pi pi-filter-slash"
                          (click)="clear(tabelaChamados)"
                        ></button>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th style="width: 3rem">Editar/Desativar</th>
                        <!-- <th style="width: 4rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <th
                          pResizableColumn
                          pSortableColumn="codigo"
                          style="width: 3rem"
                        >
                          <div
                            class="flex justify-content-between align-items-center"
                          >
                            <div
                              class="flex justify-content-between align-items-center"
                            >
                              ID
                            </div>
                            <div
                              class="flex justify-content-between align-items-center"
                            >
                              <p-sortIcon field="codigo"></p-sortIcon>
                              <p-columnFilter
                                type="text"
                                field="codigo"
                                display="menu"
                                matchMode="contains"
                                [showMatchModes]="true"
                                [showOperator]="false"
                                [showAddButton]="true"
                              ></p-columnFilter>
                            </div>
                          </div>
                        </th>
                        <th
                          *ngFor="let col of columns"
                          pResizableColumn
                          [pSortableColumn]="col.field"
                        >
                          <div
                            class="flex justify-content-between align-items-center"
                          >
                            <div
                              class="flex justify-content-between align-items-center"
                            >
                              {{ col.header }}
                            </div>
                            <div
                              class="flex justify-content-between align-items-center"
                            >
                              <p-sortIcon field="{{ col.field }}"></p-sortIcon>
                              <p-columnFilter
                                type="text"
                                [field]="col.field"
                                display="menu"
                                matchMode="contains"
                                [showMatchModes]="true"
                                [showOperator]="false"
                                [showAddButton]="true"
                              ></p-columnFilter>
                            </div>
                          </div>
                        </th>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-chamado let-columns="columns">
                      <tr>
                        <td>
                          <div
                            class="flex justify-content-center gap-2 align-content-center align-items-center"
                          >
                            <button
                              pButton
                              pRipple
                              class="p-button-rounded p-button-text"
                              icon="pi pi-pencil"
                              pTooltip="Editar Chamado"
                              (click)="onEditButtonClick(chamado)"
                            ></button>
                            <button
                              pButton
                              pRipple
                              class="p-button-rounded p-button-text p-button-danger"
                              icon="pi pi-ban"
                              pTooltip="Cancelar Chamado"
                              (click)="onDisableButtonClick(chamado)"
                            ></button>
                          </div>
                        </td>
                        <!-- <td>
                          <p-tableCheckbox [value]="produto"></p-tableCheckbox>
                        </td> -->
                        <td>{{ chamado.CODIGO }}</td>
                        <ng-container *ngFor="let col of columns">
                          <td *ngIf="col.field !== 'status'; else statusColumn">
                            {{ chamado[col.field] }}
                          </td>
                          <ng-template #statusColumn>
                          </ng-template>
                        </ng-container>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="summary">
                      <div class="text-center">
                        Total de {{ chamadoData ? chamadoData.length : 0 }} Chamados
                        Cadastrados.
                      </div>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="8">Nenhum informação foi encontrada.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>


        <!-- Formulario dos chamados -->
        <div class="flex">
          <div *ngIf="showForm != false" class="gap-4">
            <form [formGroup]="chamadoForms" (ngSubmit)="adicionarOuEditarProduto()">
              <div class="card flex flex-column md:flex-column gap-4">
                <div class="flex flex-row">
                  <div class="flex flex-column mr-2">
                    <label for="label">Título</label>
                    <input pInputText formControlName="titulo" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </p-card>
  </div>
</div>
