<div class="flex min-h-12 w-screen bg-slate-800 font-roboto text-lg justify-between items-center text-white shadow-lg shadow-slate-600">
  <div class="ml-5 text-xl">
    <a href="">Support Management</a>
  </div>
  <div class="flex mr-14 text-sm gap-20">
    <button>Home</button>
    <button>Kanban</button>
    <button>Tickets</button>
    <button>Chat</button>
  </div>
  <div class="ml-5">
    i
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-semibold  px-3 mr-6 rounded">
      Logout
    </button>
  </div>
</div>
