<div class="layout-topbar">
    <a class="layout-topbar-logo" [routerLink]="return">
        <img [src]=logo alt="logo">
        <span>{{nomeEmpresa}}</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button (click)="newChamado()" class="p-link layout-topbar-button">
            <i class="pi pi-plus"></i>
            <span>Novo Chamado</span>
        </button>
        <button *ngIf="usuario?.tipo=== tipo.ADMIN" class="p-link layout-topbar-button" (click)="config()">
            <i class="pi pi-cog"></i>
            <span>Configurações</span>
        </button>
        <button class="p-link layout-topbar-button" (click)="logout()">
            <i class="pi pi-sign-out"></i>
            <span>Sair</span>
        </button>
    </div>
</div>