
<div class="grid">
  <div class="col-12">
    <p-card header="Clientes" styleClass="shadow-3 m-5 text-indigo">
      <!-- Tabela dos chamados -->

      <div *ngIf="!showForm" class="grid">
        <div class="col-12">
          <div class="flex justify-content-end"></div>
          <p-table
            #tabelaClientes
            [columns]="colunasSelecionadas"
            [value]="clienteData"
            [(selection)]="clienteSelecionado"
            (onRowSelect)="onRowSelect($event)"
            selectionMode="multiple"
            [rows]="5"
            [paginator]="true"
            [responsive]="true"
            [resizableColumns]="true"
            columnResizeMode="expand"
            styleClass="p-datatable-gridlines"
            [tableStyle]="{ 'min-width': '50rem' }"
            [rowHover]="true"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
            [globalFilterFields]="[
              'codigo',
              'status',
              'dataCriacao',
            ]"
            [exportHeader]="'customExportHeader'"
            dataKey="codigo"
            currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
            [filterDelay]="0"
          >
            <ng-template pTemplate="caption">
              <div class="flex">
                <div class="controls">
                  <button
                    type="button"
                    class="mr-2"
                    pButton
                    pRipple
                    icon="pi pi-plus"
                    pTooltip="Adicionar Cliente"
                    (click)="onAddButtonClick()"
                  >
                    Adicionar
                  </button>
                  <!-- <button
                            pButton
                            pRipple
                            icon="pi pi-ban"
                            class="p-button-danger"
                            (click)="desativarProdutosSelecionados()"
                            [disabled]="
                              !produtoSelecionado || !produtoSelecionado.length
                            "
                          ></button> -->

                  <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-search" />
                    <input
                      type="text"
                      pInputText
                      placeholder="Search"
                      [(ngModel)]="valorPesquisa"
                    />
                  </p-iconField>

                  <button
                    pButton
                    label="Limpar"
                    class="p-button-outlined"
                    icon="pi pi-eraser"
                    (click)="clear(tabelaClientes)"
                  ></button>
                </div>
              </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 3rem">Editar</th>
                <th
                  *ngFor="let col of columns"
                  pResizableColumn
                  [pSortableColumn]="col.field"
                >
                  <div class="flex justify-content-between align-items-center">
                    <div
                      class="flex justify-content-between align-items-center"
                    >
                      {{ col.header }}
                    </div>
                    <div
                      class="flex justify-content-between align-items-center"
                    >
                      <p-sortIcon field="{{ col.field }}"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        [field]="col.field"
                        display="menu"
                        matchMode="contains"
                        [showMatchModes]="true"
                        [showOperator]="false"
                        [showAddButton]="true"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-cliente let-columns="columns">
              <tr>
                <td>
                  <div
                    class="flex justify-content-center gap-2 align-content-center align-items-center"
                  >
                    <button
                      pButton
                      pRipple
                      class="p-button-rounded p-button-text"
                      icon="pi pi-pencil"
                      pTooltip="Editar Cliente"
                    ></button>
                    <!-- <button
                      pButton
                      pRipple
                      class="p-button-rounded p-button-text p-button-danger"
                      icon="pi pi-ban"
                      pTooltip="Cancelar Cliente"
                      (click)="onDisableButtonClick(cliente)"
                    ></button> -->
                  </div>
                </td>
                <ng-container *ngFor="let col of columns">
                  <td>
                    {{ cliente[col.field] }}
                  </td>
                  <ng-template #statusColumn> </ng-template>
                </ng-container>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="9">Nenhum informação foi encontrada.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div *ngIf="showForm" class="mt-2">
        <div class="gap-4">
          <form
            [formGroup]="clienteForm"
          >
            <div class="card grid gap-4 p-fluid">
              <div class="field col-12 md:col-6" style="margin-bottom: 1rem">
                <label for="cliente">Nome: </label>
                <input pInputText formControlName="nome" />
              </div>
              <div class="field col-12 md:col-6" style="margin-bottom: 1rem">
                <label for="titulo">Email: </label>
                <input pInputText formControlName="email" />
              </div>
              <div class="field col-12 md:col-6" style="margin-bottom: 1rem">
                <label for="solicitante">CNPJ/CPF: </label>
                <input pInputText type="text" formControlName="documento" />
              </div>
              <div class="field col-12 md:col-6" style="margin-bottom: 1rem">
                <label for="proprietario">Quant Usuários: </label>
                <input pInputText type="text" formControlName="qtd_usuarios" />
              </div>
              <div class="field col-12 md:col-6" style="margin-bottom: 1rem">
                <label for="proprietario">Autorização: </label>
                <input pInputText type="text" formControlName="autorizacao" />
              </div>
              <div class="field col-12 md:col-6" style="margin-bottom: 1rem">
                <label for="proprietario">Classe: </label>
                <input pInputText type="text" formControlName="classe" />
              </div>
              <div class="field col-12 md:col-6" style="margin-bottom: 1rem">
                <label for="proprietario">Versão: </label>
                <input pInputText type="text" formControlName="versao" />
              </div>
              <div class="field col-12 md:col-6" style="margin-bottom: 1rem">
                <label for="proprietario">Java: </label>
                <input pInputText type="text" formControlName="java" />
              </div>
              <div class="field col-12 md:col-6" style="margin-bottom: 1rem">
                <label for="proprietario">Produto: </label>
                <input pInputText type="text" formControlName="produto" />
              </div>
            </div>
          </form>
          <div class="mt-2">
            <div class="flex flex-column md:flex-column gap-4">
              <div
                class="flex flex-row justify-content-left align-content-center align-itens-center m-1"
              >
                <p-button
                  class="btns"
                  type="submit"
                  label="Confirmar"
                ></p-button>
                <p-button
                  class="btns"
                  type="submit"
                  label="Cancelar"
                  (onClick)="cancelarFormulario()"
                  styleClass="red-button"
                ></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>
<app-layout></app-layout>